@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;

  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #172030;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--type-first);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
