.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  background-color: #0a0a0a;
}

.nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sol{
  font-size: 18px;
}

.border {
  border: 2px solid red;
}