.header{
  border: 2px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}

.nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.sol{
  font-size: 18px;
}